# Managed by Ansible
server {
    listen 80;
    listen [::]:80;

    server_name 52.70.133.221

    root   /var/www/snipeit/public;
    index  index.php;

    access_log /var/log/nginx/snipeit.access.log;
    error_log /var/log/nginx/snipeit.error.log;

    client_max_body_size 100M;

    autoindex off;

    location / {
    try_files $uri $uri/ /index.php$is_args$args;
      }

    location ~ \.php$ {
         include snippets/fastcgi-php.conf;
         fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
         include fastcgi_params;
         fastcgi_intercept_errors on;
    }
}
